:root{
    --fall: 2900px;
  }
  .sky{
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -10;
    }
    
  .star{
      position: absolute;
      z-index: -5;
      left: 50%;
      top: 0%;
      height: 100px;
      width:5px;
      background: linear-gradient(-45deg, white, maroon);
      border-radius: 999px;
      filter: drop-shadow(0 0 6px rgba(128, 0, 0, 0.863));
      animation: tail 3s ease-in-out infinite,
                 falling 3s ease-in-out infinite;
    }
  @keyframes tail{
      0%{
        height: 0px;
      }
      30%{
        height: 100px;
      }
      100%{
        height: 0px
      }
    
    }
  @keyframes falling{
      0%{
        transform: translateY(0%);
      }
      100%{
        transform: translateY(var(--fall));
      }
    }
    
    
  .star::before,
  .star::after{
      z-index: -5;
      content: '';
      position: absolute;
      top: calc(50% - 2px);
      right: 0;
      height: 25px;
      width: 5px;
      background: linear-gradient(-45deg, maroon,white,maroon);
      border-radius: 100%;
      transform: translateY(150%) rotateZ(45deg);
      animation: shining 3s ease-in-out infinite;
      
    }
  @keyframes shining{
      0%{
        height: 0px;
      }
      50%{
        height: 30px;
      }
      100%{
        height: 0;
      }
    
    }
    
    .star::after{
      transform: translateY(150%) rotateZ(-45deg);
    }
    
    .star:nth-child(1){
      top: 0;
      left:calc(50% - 100px);
      animation-delay: 3.2s;
    
    }
    .star:nth-child(1)::before,.star:nth-child(1)::after{
      animation-delay: 3.2s;
    }
    
    .star:nth-child(2){
      top: 0;
      left:calc(50% - 200px);
      animation-delay: 1.7s;
    }
    .star:nth-child(2)::before,.star:nth-child(2)::after{
      animation-delay: 1.7s;
    }
    
    .star:nth-child(3){
      top: 0;
      left:calc(50% - 300px);
      animation-delay: 3.4s;
    }
    .star:nth-child(3)::before,.star:nth-child(3)::after{
      animation-delay: 3.4s;
    }
    
    .star:nth-child(4){
      top: 0;
      left:calc(50% - 400px);
      animation-delay: 2.1s;
    }
    .star:nth-child(4)::before,.star:nth-child(4)::after{
      animation-delay: 2.1s;
    }
    
    .star:nth-child(5){
      top: 0;
      left:calc(50% - 500px);
      animation-delay: 1.5s;
    }
    .star:nth-child(5)::before,.star:nth-child(5)::after{
      animation-delay: 1.5s;
    }
    
    .star:nth-child(6){
      top: 0;
      left:calc(50% - 600px);
      animation-delay: 1.7s;
    }
    .star:nth-child(6)::before,.star:nth-child(6)::after{
      animation-delay: 1.7s;
    }
    
    .star:nth-child(7){
      top: 0;
      left:calc(50% - 700px);
      animation-delay: 2.3s;
    }
    .star:nth-child(7)::before,.star:nth-child(7)::after{
      animation-delay: 2.3s;
    }
    
    .star:nth-child(8){
      top: 0;
      left:calc(50% - 800px);
      animation-delay: 2.5s;
    }
    .star:nth-child(8)::before,.star:nth-child(8)::after{
      animation-delay: 2.5s;
    }
    
    .star:nth-child(9){
      top: 0;
      left:calc(50% - 900px);
      animation-delay: 1s;
    }
    .star:nth-child(9)::before,.star:nth-child(9)::after{
      animation-delay: 1s;
    }
    
    
    .star:nth-child(11){
      top: 0;
      left:calc(50% + 100px);
      animation-delay: 3.2s;   
    }
    .star:nth-child(11)::before,.star:nth-child(11)::after{
      animation-delay: 3.2s;
    }
    
    .star:nth-child(12){
      top: 0;
      left:calc(50% + 200px);
      animation-delay: 1.4s;
    }
    .star:nth-child(12)::before,.star:nth-child(12)::after{
      animation-delay: 1.4s;
    }
    
    .star:nth-child(13){
      top: 0;
      left:calc(50% + 300px);
      animation-delay: .7s;
    }
    .star:nth-child(13)::before,.star:nth-child(13)::after{
      animation-delay: .7s;
    }
    
    .star:nth-child(14){
      top: 0;
      left:calc(50% + 400px);
      animation-delay: 2.5s;
    }
    .star:nth-child(14)::before,.star:nth-child(14)::after{
      animation-delay: 2.5s;
    }
    
    .star:nth-child(15){
      top: 0;
      left:calc(50% + 500px);
      animation-delay: 1.7s;
    }
    .star:nth-child(15)::before,.star:nth-child(15)::after{
      animation-delay: 1.7s;
    }
    
    .star:nth-child(16){
      top: 0;
      left:calc(50% + 600px);
      animation-delay: 3.2s;
    }
    .star:nth-child(16)::before,.star:nth-child(16)::after{
      animation-delay: 3.2s;
    }
    
    .star:nth-child(17){
      top: 0;
      left:calc(50% + 700px);
      animation-delay: 1.1s;
    }
    .star:nth-child(17)::before,.star:nth-child(17)::after{
      animation-delay: 1.1s;
    }
    
    .star:nth-child(18){
      top: 0;
      left:calc(50% + 800px);
      animation-delay: 2.1s;
    }
    .star:nth-child(18)::before,.star:nth-child(18)::after{
      animation-delay: 2.1s;
    }
    
    .star:nth-child(19){
      top: 0;
      left:calc(50% + 900px);
      animation-delay: 3.4s;
    }
    .star:nth-child(19)::before,.star:nth-child(19)::after{
      animation-delay: 3.4s;
    }
